 *{
      margin: 0;
      padding: 0;
      overflow-x: hidden;
    }
    .header{
      text-align: center;
      color: rgb(245,197,24);;
      padding: 2%;
      background-color: #191818;
    }
    #parent{
      height: 87vh;
      background-color: #292727;
    }

    #favoritesList{
      display: flex;
      padding: 34px;
      flex-direction: row;
      flex-wrap: wrap;
      height: auto;
      width: 100vw;
      background-color: #292727;
      justify-content: space-evenly;
    }

    .favorite-movie{
      display: flex;
      flex-direction: row;
      align-items: center;
      margin: 10px;
      width: 60vw;
      box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.7);
      background-color: #191818;
    }

    img {
        max-width: 50%;
        margin-right: 10px;
    }
    .yellow{
      color: rgb(245,197,24);
    }
    .white{
      color: white;
    }
    .red{
        background-color: #bd2828;
        padding: 3px 25px;
        border-radius: 5px;font-weight: bold;
        cursor: pointer;
    }